*{
    padding: 0px;
    margin: 0px;
}

#rootContainer {
    width: fit-content;
}
/* menubar */
#menubar {
    background-color: #1d7e67;
}
#file {
    margin-left: 10px;
}
.menuBtn {
    border: 0px solid black;
    background-color: transparent;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}
.menuBtn:hover {
    color: #1d7e67;
    background-color: #e7ecee;
}

/* toolbar */
#toolbar {
    position: sticky;
    top: 0px;
    z-index: 3;
}
#tools {
    display: flex;
    background-color: #e7ecee;
    padding: 15px 25px;
}
#copy {
    margin-left: 10px;
}
.toolBtn {
    border: 0px solid black;
    background-color: transparent;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    margin: 0px 3px;
}
.hiddenInput {
    display: none;
}
.hiddenInput:checked + label {
    background-color:#cececeff;
    border-radius: 4px;
}
.toolBtn:hover {
    background-color: #dadfe1;
    border-radius: 4px;
}

/* functionbar */

#functionbar {
    width: 100%;
    display: flex;
    background-color: #e7ecee;
}

#cellId {
    margin-left: 12px;
    padding: 5px ;
    width: 55px;
    text-align: center;
    background-color: white;
}
#fx-input {
    /* padding: 5px 20px; */
    display: flex;
    /* width: 93%; */
    flex-grow: 1;
}
#fx-input>span {
    background-color: #e7ecee;
    padding: 5px 12px;
}
#fx-input> input {
    flex-grow: 3;
    border: 0px solid red;
    padding: 0px 0px 0px 10px;
}

/* main body */
#mainBody {
    
}
#body {
    display: flex;
}
#serialNoContainer{
    position: sticky;
    top: 99px;
    left: 0px;
}
#cellBody {
    /* display: flex; */
}
.row {
    display: flex;
}
#header {
    display: flex;
    position: sticky;
    top: 109px;
    z-index: 2;
}

.headerCell {
    border: 1px solid #dadfe1;
    background-color:#e7ecee;
    /* padding: 5px 50px; */
}

.cell {
    min-width: 100px;
    text-align: center;
    border: 1px solid #dadfe1;
    background-color:#e7ecee;
    padding: 5px;
    text-wrap: nowrap;
    overflow:;
}

.mainCell {

}